@media screen and (max-height: 550px) {

    .menu-mobile-border {
        display: block;
    }

    .copyright {
        visibility: hidden;
    }

    .footer-info {
        visibility: hidden;
    }

    .works-card {
        max-width: 100% !important;
    }

}

@media screen and (max-width: 1024px) {

    .menu-mobile-border {
        display: block;
    }

    .menu-right {
        visibility: hidden;
    }

    .menu-left {
        visibility: hidden;
    }

    .sub-menu-left {
        visibility: hidden;
    }

    .sub-menu-right {
        visibility: hidden;
    }

    .landing {
        padding-top: 50px;
    }

    .copyright {
        visibility: hidden;
    }

    .footer-info {
        visibility: hidden;
    }

    .works-card {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 700px) {

    .con-1,
    .con-2,
    .con-3,
    .con-4,
    .con-5,
    .con-6,
    .con-7,
    .con-8,
    .con-9,
    .con-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main {
        height: 120% !important;
    }

    .landing {
        padding-top: 50px;
        height: 120% !important;
    }

    .landing-left {
        position: absolute;
        margin-top: 100%;
        padding-right: 35px;
        margin-left: 10%;
    }

    .landing-right {
        position: absolute;
        margin-top: 15px;
        left: 10%;
    }

    .menu-right {
        visibility: hidden;
    }

    .menu-left {
        visibility: hidden;
    }

    .sub-menu-left {
        visibility: hidden;
    }

    .sub-menu-right {
        visibility: hidden;
    }

    .icon-left {
        position: absolute;
        top: calc(9.5% - 6%);
    }

    .icon-right {
        position: absolute;
        top: calc(9.5% - 6%);
    }

    .copyright {
        visibility: hidden;
    }

    .footer-info {
        visibility: hidden;
    }

    .header {
        font-family: Nexa;
        font-size: 25px;
        text-transform: uppercase;
    }

    .side-menu {
        font-family: Nexa;
        font-size: 20px;
        text-transform: uppercase;
        writing-mode: horizontal-tb;
        text-orientation: upright;
    }

    .sub-header {
        margin: 10px 0;
        font-family: SFProDisplay-Regular;
        font-size: 20px;
    }

    .close {
        font-family: SFProDisplay-Regular;
        font-size: 20px;
    }

    .button {
        font-family: ProximaNovaReg;
    }

    .img-circle {
        border-radius: 10%;
        border: none;
        box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.2);
    }

    .img-set-ava {
        position: relative;
        max-width: 90% !important;
        left: -6%;
    }

    .btn-ocean {
        margin-left: 20%;
    }

    .menu-mobile-border {
        display: block;
    }

    .works-card {
        max-width: 100% !important;
    }

    .modal-content {
        padding: 50px 5%;
    }

    .desWorks {
        padding-left: 0px !important;
    }

    .row {
        margin-left: -5px !important;
    }

}