.container {
    margin: 5% 10% !important;
    vertical-align: middle;
}

/* CONTAINER SETTING */
.con-1 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

.con-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.con-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.con-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.con-5 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.con-6 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.con-7 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}

.con-8 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.con-9 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

.con-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/* PADDING SETTING */
.pad-1 {
    padding: 10px;
}

.pad-2 {
    padding: 20px;
}

.pad-3 {
    padding: 30px;
}

.pad-4 {
    padding: 40px;
}

.pad-5 {
    padding: 50px;
}

/* PADDING TOP SETTING */
.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 {
    padding-top: 50px;
}

.pt-8 {
    padding-top: 80px;
}

/* PADDING RIGHT SETTING */
.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 40px;
}

.pr-5 {
    padding-right: 50px;
}

/* PADDING BOTTOM SETTING */
.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}

/* PADDING LEFT SETTING */
.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 40px;
}

.pl-5 {
    padding-left: 50px;
}

/* MARGIN SETTING */
.mar-1 {
    margin: 10px;
}

.mar-2 {
    margin: 20px;
}

.mar-3 {
    margin: 30px;
}

.mar-4 {
    margin: 40px;
}

.pad-5 {
    padding: 50px;
}

/* MARGIN TOP SETTING */
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-1p {
    margin-top: 10%;
}

/* MARGIN LEFT SETTING */
.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.mlm-1 {
    margin-left: -10px;
}

/* MARGIN RIGHT SETTING */
.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

/* MARGIN BOTTOM SETTING */
.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.set{

    &-welcome-mid {
        margin-top: 23%;
    }

    &-jap-left {
        margin-right: 58px;
        margin-top: 15px;
        font-weight: 600;
    }

    &-jap-right {
        margin-left: 58px;
        margin-top: 28px;
        font-weight: 600;
    }
}